/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f5f6fa;
  color: #333;
}

/* Layout */
.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 240px;
 background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.menu {
  list-style: none;
}

.menu li {
  margin: 15px 0;
}

.menu li a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  padding: 10px 15px;
  display: block;
  border-radius: 10px;
  transition: background 0.3s;
}

.menu li.active a,
.menu li a:hover {
  background: #1d4ed8;
}

.bottom-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottom-menu a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

/* Main content */
.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Topbar */
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.topbar input {
  flex: 1;
  margin: 0 20px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 35px;
  height: 35px;
  background: #2563eb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}

.card h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.card p {
  font-size: 14px;
  color: #666;
}

.card.green { border-top: 5px solid #22c55e; }
.card.yellow { border-top: 5px solid #eab308; }
.card.red { border-top: 5px solid #ef4444; }
.card.blue { border-top: 5px solid #3b82f6; }

/* Grid boxes */
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.box {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
