<div class="sidebar">
  <div class="logo">LOGO</div>
  <ul class="menu">
    <li class="active"><a href="dashboard.html">Dashboard</a></li>
    <li><a href="vendas.html">Vendas</a></li>
    <li><a href="produto.html">Produto</a></li>
    <li><a href="clientes.html">Clientes</a></li>
    <li><a href="fornecedores.html">Fornecedores</a></li>
    <li><a href="contas-a-pagar.html">Contas a Pagar</a></li>
    <li><a href="contas-a-receber.html">Contas a Receber</a></li>
  </ul>
  <div class="bottom-menu">
    <a href="configuracoes.html">Configurações</a>
    <a href="#">Sair</a>
  </div>
</div>
